/* 상단 100% 배너*/
.CustomBanner {
    width:100%;
    height:450px;
}

/* 본문 - 가로 1200 블럭*/
.CustomContainerWarp {
    position: relative;
    width:1200px;
    height:auto;
    margin:0 auto;
    overflow: hidden;
    margin-bottom:100px;
}
/* 본문 - 탭메뉴*/

.TapMenuTitle {
    color:#5c5b5b;
    font-size: 23.71px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top:56px;
    padding-bottom: 20px;
    border-bottom:1px solid #9c9b9b;
}
.TapMenuSubText {
    color:#5c5b5b;
    font-size: 17.72px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-left:18px;
}
.TapBtnWarp {
    float: left;
    width:1200px;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #9c9b9b;
}
.TapBtnWarp>li {
    float: left;
    width:216px;
    height:145px;
    margin-left:20px;
    margin-bottom:20px;
}
.TapBtnWarp>li:hover {
    background: #fb524b;
    cursor: pointer;
}
.CustomMenu {
    background: #625d82;
    transition: all 0.3s ease-in-out;
}
.CustomMenuActive {
    background: #fb524b;
}
/* 본문 - 공지사항 리스트*/
.ContentTitle {
    clear: both;
    color:#5c5b5b;
    font-size: 23.71px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 60px 0px 20px 0px;
}
.CustomNoticeList,
.CustomNoticeRead,
.CustomCenter_Question,
.CustomQnA,
.CustomAnsWarp {
    margin-top:118px;
}
.CustomNoticeList>table,
.CustomNoticeRead>table,
.CustomCenter_Question table,
.CustomAnsWarp>table {
    width:1200px;
    height:auto;
    border-top:1px solid #858484;
    border-bottom:1px solid #858484;
}
.CustomNoticeList>table th,
.CustomCenter_Question table th,
.CustomAnsWarp>table th {
    height:45px;
    color:#444;
    font-weight: 500;
    background:#f2f2f2;
}
.CustomNoticeList>table tr,
.CustomNoticeRead>table tr,
.CustomAnsWarp>table tr {
    height:43px;
}
.CustomNoticeList>table td,
.CustomNoticeRead>table td,
.CustomCenter_Question table td,
.CustomAnsWarp>table td {
    border:1px solid #dddcdc;
    text-align: center;
    font-weight: 300;
}
.CustomNoticeList>table td:nth-child(1),
.CustomNoticeRead>table td:nth-child(1),
.CustomCenter_Question table td:nth-child(1),
.CustomAnsWarp>table td:nth-child(1) {
    border-left:0;
}
.CustomNoticeList>table td:nth-child(4),
.CustomNoticeRead>table td:nth-child(4),
.CustomCenter_Question table td:nth-child(4),
.CustomAnsWarp>table td:nth-child(6) {
    border-right:0;
}
.CustomNoticeList>table td:nth-child(2),
.CustomNoticeRead>table td:nth-child(2),
.CustomCenter_Question table td:nth-child(3),
.CustomAnsWarp>table td:nth-child(4) {
    border:1px solid #dddcdc;
    text-align: left;
    padding-left:30px;
}

/* 본문 - 공지사항 페이징*/
.noticePaging {
    width:1200px;
    margin-top:25px;
    text-align: center;
    overflow: hidden;
}
.noticePaging>ul {
    display: inline-block;
    margin:0 auto;
}
.noticePaging>ul>li {
    float: left;
    width:32px;
    height:30px;
    color:#797979;
    font-size:12px;
    border:1px solid #cfcfcf;
    margin:0px 3px;
    line-height:30px;
}
.noticePaging>ul>li:first-child,
.noticePaging>ul>li:last-child {
    width:102px;
}
.noticePaging>ul>li:nth-child(2),
.noticePaging>ul>li:nth-child(13){
    color:#797979;
    font-weight: 600;
    background: #fafafa;
}
.noticePaging>ul>li>a {
    color:#797979;
}
.noticePaging>ul>li:nth-child(3){
    color:#fff;
    font-weight: 600;
    background: #f05684;
    border:0;
}

/* 본문 - 공지사항 본문*/
.CustomNoticeRead>table {
    border-top:1px solid #444;
}
.CustomNoticeRead>table td:nth-child(1),
.CustomNoticeRead>table td:nth-child(3) {
    color:#444;
    font-weight: 400;
    background: #f2f2f2;
}
.CustomNoticeReadBtn {
    position: relative;
    top:0px;
    left:1060px;
    font-family: 'Noto Sans KR';
    height: 30px;
    color: #797979;
    font-size: 12px;
    border: 1px solid #cfcfcf;
    margin: 20px 3px;
    line-height: 30px;
    width:102px;
    background: #fff;
    cursor: pointer;
    font-weight: 600;
}

/* 본문 - 자주하는질문  */
.QuestionBtnWarp {
    float: left;
    width:1200px;
    border-top:1px solid #929292;
    border-bottom :1px solid #cfcfcf;
}
.QuestionBtnWarp>li {
    float: left;
}
.QuestionBtn {
    font-family: 'Noto Sans KR';
    height: 40px;
    width:130px;
    color: #5c5b5b;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    border: 1px solid #cfcfcf;
    margin: 20px 5px;
    line-height: 30px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.QuestionBtn:hover {
    background: #fb534b;
    color:#fff;
    border:1px solid #fb534b;
}
.QuestionMenuActive {
    background: #fb534b !important;
    color:#fff;
    border:1px solid #fb534b;
}
.CustomCenter_Question table td {
    padding:12px 0px;
}
.QuestionIcon>a {
    display: inline;
    color: #474747;
}
.QuestionIcon>img {
    position: relative;
    top:5px;
    padding-right:5px;
}
.AnsIcon>img {
    padding:21px 5px 0px 0px;
}
.QuestionAns {
    padding:50px;
}
.AnsIcon {
    text-align: right !important;
    vertical-align:text-bottom;
}

/* 본문 - 자주하는질문 = 아코디언 */
.AccordionAnswer {
    display: none;
}
.AccordionAnswerText {
    padding:30px 30px 30px 5px !important;
    text-align:left !important;
    border-left:0 !important;
    border-right:0 !important;
    line-height: 30px !important;
}
.accordion_sub {
    position: relative;
    display: none;
    background: #f9f9f9;
}

/* 본문 - 묻고 답하기*/
.AnsCom {
    font-family: 'Malgun Gothic';
    font-size: 12px;
    font-weight: 600;
    color: #fb534b;
    margin-left: 0px;
    margin-right: 0;
    padding: 2px 8px;
    border: 1px solid #fb534b;
    letter-spacing: -1px;
}
.AnsComTd {
    border-right:0 !important;
    border-left:0 !important;
}
.QusText {
    position:relative;
    padding-left: 30px;
}
.QusAdminText {
    font-weight: 500;
    padding: 30px 0px 0px 30px;
    color:#f05684;
}
.Qicon {
    position: absolute;
    top:3px;
    left:0;
}
.CustomQABtn {
    position: relative;
    top:0px;
    left:1060px;
    font-family: 'Noto Sans KR';
    height: 30px;
    color: #fff;
    font-size: 12px;
    margin: 20px 3px;
    line-height: 30px;
    width:102px;
    background: #4d5162;
    cursor: pointer;
    font-weight: 600;
    border:0;
}

/* 본문 - 이용안내*/

.UseInfoTitle {
    color:#625d82;
    font-size: 16px;
    margin-top:30px;
}
.UseInfoTitle:nth-child(1) {
    margin-top:10px;
}
.UseInfoTitle>img {
    padding-right:16px;
}
.UseInfoSub {
    color:#616161;
    font-size: 13px;
    font-weight: 300;
    padding:10px 30px;
    line-height: 25px;
}