/* 공통 css */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Noto Sans KR',"나눔고딕","NanumGothic",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-size: 14px;
    line-height: 1.6;
    width:100%;
    height:auto;
}
header, section, nav, article, footer { 
    display:block;
}
a:link {
    display:block;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    width:100%;
    height:100%
}
ul, ol, li, dl, dt, dd {
    list-style: none;
}
table {
  border-collapse:collapse;
}
.floatL {
    clear: both;
  }

  /* 헤더 - 로고 */
.headerLogo_warp {
    background:#6ebbfc;
}
.headerLogo {
    width:1200px;
    height:110px;
    margin:0 auto;
}
.headerLogo>ul {
  float: left;
  height:110px;
}
.headerLogo>ul>li {
  float: left;
}
.headerLogo>ul>li:nth-child(1) {
  margin-top:25px;
}
.headerLogo>ul>li:nth-child(2) {
  margin-top:35px;
}
.headerLogo>ul>li:nth-child(3) {
  margin-left:50px;
}
.headerMenuSearch_warp>input {
  position: relative;
  width:470px;
  height:25px;
  color:#f3faff;
  font-size: 15px;
  letter-spacing: -0.5px;
  top:5px;
  margin-left:20px;
  background:#6ebbfc;
  border:0;
}
.headerMenuSearch_warp {
  width:560px;
  height:40px;
  border:2px solid #fff;
  border-radius: 30px;
  margin:15px 0px 0px 84px;
}
.headerMenuSearch_warp>i,
.headerMenuSearch_warp>a {
  position: relative;
  top:5px;
  color:#fff;
  margin-left:30px;
}
.headerMenuSearch_warp>a {
  display: inline-block;
  width:30px;
  height:25px;
}
.headerMenuSearch_warp>input::placeholder {
  color:#eef6fd;
  font-size: 15px;
  letter-spacing: -0.2px;
}
/* 헤더 - 메뉴바 */

.Menu_warp {
  background:#599cf5;
}
.headerMenu {
  width:1200px;
  height:84px;
  margin:0 auto;
}
.headerMenu>ul>li {
  float: left;
  font-size: 18px;
  font-weight: 600;
  color:#fff;
  letter-spacing: -0.5px;
  line-height: 80px;
  margin-right:50px;
}
.headerMenu>ul>li:nth-child(11) {
  margin-right:0px !important;
}
.headerMenu>ul {
  width: 1200px;
  height:84px;
  float: left;
  position: relative;
}
.headerMenu>ul>li>a {
  font-family: 'Noto Sans KR';
  font-weight:400;
  color:#fff;
}
.headerMenu>ul>li>a>i {
  padding-right:10px;
}
.headerMenuInfo {
  position: absolute;
  right:0;
  height:84px;
  float: left;
}
.headerMenuInfo>li {
  float: left;
}
.headerMenuUserInfo {
  margin-right:15px !important;
  margin-top:10px;
}
.headerMenuUserInfo a {
  height:84px;
}
.UserInfo {
  line-height: 20px;
  color:#d7ebfd;
  font-weight:600;
  letter-spacing: -0.5px;
}
.MenuBar a {
  height:80px;
}
.MenuBar a:hover,
.subBtn a:hover {
  color:#64effc;
}

/* 헤더 - 서브메뉴바 */
.subContent {
  display:none;
  padding:20px 0px;
  clear: both;
  width:1200px;
}
.subContentOne,
.subContentTwo,
.subContentThree,
.subContentFour,
.subContentFive {
  float: left;
  line-height: 16px;
  width:235px;
  padding:0px 30px 0px 20px;
  border-right:1px solid #9dd2fd;
}
.subContentFour {
  width:210px;
}
.subContentFive {
  width:250px;
}
.subContentOne {
  padding:0px 30px 0px 10px;
}
.subContentFive {
  border-right:0px;
}
.subContentIcon {
  padding-left:16px;
}
.subContenline {
  padding:0px 10px;
  font-size:14.5px;
  font-weight: 400;
  color:#fff;
}
.subMenuCatagory {
  width:205px;
}
.subMenuCatagory>p {
  line-height: 20px;
}
.subMenuTitle {
  position: relative;
  height:35px;
  top:-10px;
  font-weight: 600;
  color:#fdfbe2;
  font-size:17px;
  padding-left:5px;
}
.subMenuContent {
  margin-top:15px;
}
.subMenuContent a {
  font-size:14.5px;
  font-weight: 400;
  color:#fff;
  display: inline;
}
.subMenuContent span {
  padding:0px 5px;
}
.subMenuContent a:hover {
  background: #2259a3;
  color:#fdfbe2;
}

/* 헤더 - 마이페이지 서브메뉴 */
.MypageSubWarp {
  display: none;
  position: absolute;
  width:136px !important;
  height:184px !important;
  background: #599cf5;
  z-index: 9999;
  top:84px;
  right:-30px;
}
.MypageSubWarp a {
  font-size: 13px;
  font-weight: 500;
  color:#d7ebfd;
  letter-spacing: -1px;
  height: 30px !important;
  line-height: 28px;
  padding-left:30px;
  transition: all 0.3s ease-in-out; 
}
.MypageSubWarp a:hover {
  background: #306cbb;
  color:#fff;
  cursor: pointer;
}
.headerMenuMypage {
  margin-right:15px !important;
  margin-top:10px;
}
.headerMenuMypage a {
  height:84px;
}
.headerMenuMypage:hover .MypageSubWarp {
  display: block;
}

/*로그인 , 회원가입 - 타이틀텍스트*/

.SubTitle {
  font-size: 33.24px;
  font-weight: 300;
  color:#3d3d3e;
  letter-spacing: -2px;
  margin-top:100px;
}
.SubMinTitle {
  font-size: 17.46px;
  font-weight: 300;
  color:#3d3d3e;
  letter-spacing: 0.05px;
  padding-left: 24px;
}
.LoginUnderline {
  margin:15px 0px 0px 0px;
  border-top:3px solid #b9b9b9;
}
.SubTitleUnderline {
  margin:15px 0px 35px 0px;
  border-top:3px solid #b9b9b9;
}

/* footer*/

.footer_warp {
    width:100%;
    height:380px;
    background: #474849;
}
.footerContent {
    position: relative;
    width:1200px;
    top:0;
    left:50%;
    margin-left:-600px;
}
.footerLogo {
    float: left;
    width:350px;
    padding-top:150px;
}
.footerInfo {
    float: left;
    margin:55px 0px 26px 0px;
}
.footerInfo>li a {
    display: block;
    width:100%;
    height:100%;
    color:#f0efef;
    font-size:13px;
    font-weight:300;
}
.footerInfo>li a:hover {
    color:#fff;
}
.footerInfo li {
    float: left;
    background: #393a3b;
    border:1px solid #f0efef;
    padding:8px 22px;
    margin-left:8px;
}
.footerInfoAddress {
    color:#f0efef;
    font-size:12px;
    font-weight:300;
    letter-spacing: 1px;
}
.footerInfoCustom {
    color:#f0efef;
    font-size:25.5px;
    font-weight:500;
    letter-spacing: -0.05px;
    margin-top: 38px;
}
.footerInfoTel {
    color:#f0efef;
    font-size:39px;
    font-weight:600;
    letter-spacing: -0.05px;
    line-height: 40px;
}
.footerInfoCustomTime {
    color:#f0efef;
    font-size:15px;
    font-weight:300;
    letter-spacing: -0.05px;
    line-height: 40px;
}

/* 위로가기 */ 
a.jcm-top {
  position: fixed;
  right:250px;
  width: 31px;
  height: 31px;
  z-index: 9999;
  display: none;
  clear: both;
  box-sizing: border-box;
}
  @media ( max-width:1800px) {
    a.jcm-top {
      right:50px;
    }
  }
  @media ( max-width:1280px) {
    a.jcm-top {
      display: none;
    }
  }